[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fable.prophet"]
	path = fable.prophet
	url = https://github.com/mitchelloharawild/fable.prophet
	shallow = true
	registered = true
[submodule "ggquiver"]
	path = ggquiver
	url = https://github.com/mitchelloharawild/ggquiver
	shallow = true
	registered = true
[submodule "distributional"]
	path = distributional
	url = https://github.com/mitchelloharawild/distributional
	shallow = true
	registered = true
[submodule "vitae"]
	path = vitae
	url = https://github.com/mitchelloharawild/vitae
	shallow = true
	registered = true
